<section>This is Password section</section>

<style></style>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
